.table-view {
    -fx-background-radius: 10; 
    -fx-border-radius: 10; 
    -fx-background-color:   #374452;
    -fx-border-color:  #374452;
}

.table-view .column-header-background {  
    -fx-alignment: center;
    -fx-font-weight: bold;
    
}
.table-view .column-row-background { 
    -fx-alignment: center;
    -fx-font-weight: bold;  
}

.table-view .column-header{
    -fx-font-size: 14px;
    -fx-background-color:  #374452; 
    -fx-border-color:  #374452;
}

.table-view .column-header .label{
    -fx-text-fill: #ffffff; 
}

.bordeChangeDerecha{
    -fx-background-radius: 0 10 0 0; 
    -fx-border-radius: 0 10 0 0; 
}

.bordeChangeIzquierda{
    -fx-background-radius: 10 0 0 0; 
    -fx-border-radius: 10 0 0 0;  
}





.combo-box-base {
    -fx-background-radius: 10; 
    -fx-background-color: #ffffff; 
}

.combo-box .cell {
    -fx-border-color: transparent; 
}

.combo-box .list-cell {
    -fx-background-color: #ffffff; 
    -fx-background-radius: 10; 
    -fx-text-fill: #000000; 
    -fx-font-weight: bold; 
    -fx-font-size: 14px; 
    -fx-alignment: center;
}

.text-field {
    -fx-background-color: #ffffff; 
    -fx-background-radius: 10; 
    -fx-font-weight: bold; 
    -fx-font-size: 14px; 
    -fx-alignment: center;
}
