
.table-view .column-header-background {  
    -fx-alignment: center;
    -fx-font-weight: bold;
    
}
.table-view .column-row-background { 
    -fx-alignment: center;
    -fx-font-weight: bold;  
}

.table-view .column-header{
    -fx-font-size: 14px;
    -fx-background-color:  #7EADDE; 
    -fx-border-color:  #7EADDE;
    -fx-text-fill: #000000; 
}


.table-view .table-row-cell:selected, .table-view .table-row-cell:focused {
    -fx-background-color: #afc5dd; 
    -fx-text-fill: #000000; 
    -fx-font-weight: bold;
}

.table-view .cell {
    -fx-alignment: center; 
   
}





.combo-box-base {
    -fx-background-radius: 10; 
    -fx-background-color: #ffffff; 
}

.combo-box .cell {
    -fx-border-color: transparent; 
}

.combo-box .list-cell {
    -fx-background-color: #ffffff; 
    -fx-background-radius: 10; 
    -fx-text-fill: #000000; 
    -fx-font-weight: bold; 
    -fx-font-size: 14px; 
    -fx-alignment: center;
}




.text-field {
    -fx-background-color: #ffffff; 
    -fx-background-radius: 10; 
    -fx-font-weight: bold; 
    -fx-font-size: 14px; 
    -fx-alignment: center;
}
